<div class="container-fluid row justify-content-center p-0 m-0 vh-100">
  <nav id="header" class="col-12 pl-0 pr-0">
    <h1 class="m-3">Cms Demo Dashboard</h1>
  </nav>

  <section id="main" class="col-12 col-m-10 col-lg-10 col-xl-8 pt-5 row">
    <div id="portrait" class="col-4 col-m-3 col-lg-3 col-xl-3">
      <the-third-cms Auth="admin@app.com"></the-third-cms>
    </div>

    <div id="text" class="col-8 col-m-9 col-lg-9 col-xl-9">
      <the-third-cms Auth="admin@app.com"></the-third-cms>
    </div>
  </section>

  <section id="lorem" class="col-12 col-m-10 col-lg-10 col-xl-8 mb-5">
    <p>
      I'm baby disrupt helvetica next level master cleanse dreamcatcher you
      probably haven't heard of them sriracha fixie leggings locavore vegan cray
      VHS drinking vinegar. Readymade 90's hexagon, helvetica VHS keytar hammock
      cloud bread kitsch fanny pack flexitarian yuccie copper mug vice retro.
      Hella drinking vinegar fixie chillwave kombucha chartreuse. Artisan
      kinfolk hammock pour-over scenester adaptogen hella bespoke snackwave.
    </p>
    <p>
      Truffaut flannel adaptogen pitchfork thundercats. Vaporware coloring book
      whatever, narwhal vinyl food truck distillery hell of four dollar toast
      retro venmo microdosing mumblecore celiac prism. Art party listicle
      meditation, unicorn tacos thundercats mixtape hella. Knausgaard vinyl
      tousled yr lo-fi banjo 3 wolf moon mlkshk. Wayfarers plaid celiac blue
      bottle pok pok. Edison bulb bitters tofu bespoke pour-over skateboard four
      loko portland cold-pressed asymmetrical health goth.
    </p>
    <p class="pb-5">
      Sriracha subway tile poutine viral slow-carb paleo pickled. Yr small batch
      lo-fi blue bottle mustache jean shorts beard gochujang. Stumptown
      williamsburg mustache gluten-free adaptogen portland everyday carry lo-fi
      jianbing. Biodiesel tumeric lumbersexual +1, brunch tacos deep v wolf
      cliche post-ironic seitan. Portland ugh cloud bread pinterest hell of
      jianbing prism shabby chic lumbersexual venmo succulents.
    </p>
  </section>

  <div id="footer" class="col-12 pl-0 pr-0 mt-5"></div>
</div>
